@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

.prettyprint ol.linenums > li { list-style-type: decimal; }

pre.prettyprint {
	font-size: 14px;
	background: #333333 !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

code {
	background: #EFEFEF;
	border: 1px solid #DDDDDD;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px 5px 2px 5px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	line-height: 14px;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background: #DDDDDD;
	color: #555555;
}

::selection {
	background: #3d3d3d; /* Safari */
	color: white;
	}
::-moz-selection {
	background: #3d3d3d; /* Firefox */
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	display: inline;
	margin: 0;
	padding: 0;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14x;
	font-weight: bold;
	font-style: italic;
	border: none;
	text-align: center;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:    -moz-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:     -ms-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:      -o-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
}


hr.description:after {
    content: "Description";
    display: inline-block;
    position: relative; 
    top: -0.7em;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}

hr.code:after {
    content: "Code";
    display: inline-block;
    position: relative; 
    top: -0.7em;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}

a {
	text-decoration: none;
	color: #333333;
	border-bottom: 1px dotted #AAAAAA;
}

form {
	max-width: 348px;
}

input[type=text], input[type=password] {
	width: 100%;
	max-width: 336px;
	border: 1px solid #DDDDDD;
	margin: 0;
	padding: 5px;
	margin-bottom: 10px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	color: #555555;
	font-size: 16px;
}

input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #CCCCCC;
}

input[type=radio] {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	line-height: 12px;
	height: 12px;
	width: 12px;
	margin-left: 10px;
}

.radio {
	font-style: italic;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	margin: 0px;
	padding: 0px;
}

input[type=submit] {
	margin: 0;
	padding: 5px;
	float: right;	
	cursor: pointer;
	font-weight: bold;
	color: #333333;
	background: #DDDDDD;
	border: none;
	min-width: 100px;
	height: 30px;
	-webkit-transition: -webkit-box-shadow .2s;
	-moz-transition: -moz-box-shadow .2s;
	transition: box-shadow .2s;
}

input[type=submit]:hover {
	-webkit-box-shadow: inset 0px -6px 0px 0px #CCCCCC;
	-moz-box-shadow: inset 0px -6px 0px 0px #CCCCCC;
	box-shadow: inset 0px -6px 0px 0px #CCCCCC;
}

.error {
	color: red;
	font-weight: bold;
}

a:hover {
	border-bottom: none;
	background: #DDDDDD;
}

#nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background: #16A979;
	z-index: 1;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
}

#nav > #navcontent {
	margin: 0 auto;
	width: 1164px;
	height: 50px;
}

textarea {
	width: 751px;
	border: 1px solid #DDDDDD;
	margin: 0;
	margin-bottom: 10px;
	padding: 5px;
	vertical-align: middle;
	color: #555555;
	font-size: 16px;
}

select {
	border: 1px solid #DDDDDD;
	margin: 0;
	margin-bottom: 10px;
	padding: 5px;
	vertical-align: middle;
	color: #555555;
	font-size: 16px;
}

#navcontent > #logo {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

#navcontent > #logo > a {
	text-decoration: none;
	border: none;
	color: white;
	text-shadow: 0 0 0.04em white, 0 0 0.04em white;
}

#navcontent > #logo > a:hover {
	background: none;
	border: none;
	text-shadow: 0 0 0.08em white, 0 0 0.08em white;
}

#navcontent > ul {
	float: right;
	list-style-type: none;
	height: 50px;
	margin: 0;
}

#navcontent > ul > li {
	text-align: center;
	line-height: 50px;	
	width: 100px;
	height: 50px;
	float: left;
}

#navcontent > ul > li > a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	border: none;
	color: white;
	-webkit-transition: -webkit-box-shadow .3s;
	-moz-transition: -moz-box-shadow .3s;
	transition: box-shadow .3s;

}

#navcontent > ul > li > a:hover {
	background: none;
	-webkit-box-shadow: inset 0px -6px 0px 0px rgba(9,130,90,1);
	-moz-box-shadow: inset 0px -6px 0px 0px rgba(9,130,90,1);
	box-shadow: inset 0px -6px 0px 0px rgba(9,130,90,1);
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: block;
}

.clearfix:after {
	clear: both;
}

p {
	margin: 0px auto 10px auto;
}

#content {
	min-height: 300px;
	margin: 50px auto 0px auto;
	width: 1164px;
	background: #EEEEEE;
}

.lcol {
	min-height: 300px;
	width: 763px;
	border-right: 1px solid #DDDDDD;
	padding: 10px;
	float: left;
	background: #FFFFFF;
}

.rcol {
	min-height: 300px;
	width: 360px;
	padding: 10px;
	float: right;
}

#footer {
	width: 100%;
	height: 25px;
	background: #CCCCCC;
	z-index: 1;
}

.postform {
	max-width: 100% !important;
	width: 100% !important;
}

.post {
	padding: 10px;
	margin: 0;
	min-height: 50px;
}

.post .info {
	width: 673px;
	height: auto !important;
	float: right;
}

.post:hover {
	background: #EEEEEE;
}

.post .info .title a {
	margin: 0;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px dotted #CCCCCC;
	font-size: 20px;
}

.post .info .title a:hover {
	background: none;
	border: none;
}

.post .info .title a:visited {
	color: #999999;
}

.post .score {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: left;
	text-align: center;
	width: 70px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	min-height: 50px;
	font-size: 30px;
	font-weight: bold;
}

.post .info .author:before {
	line-height: 14px;
	font-size: 14px;
	content: "By";
	margin-right: 5px;
}

.post .info .author a {
	margin: 0;
	padding: 0;
	line-height: 14px;
	font-style: italic;
	font-size: 14px;
}

.post .info .date {
	margin: 0;
	padding: 0;
	margin-right: 10px;
	font-style: italic;	
	font-size: 14px;
}