@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600);

.prettyprint ol.linenums > li { list-style-type: decimal; }

pre.prettyprint {
	font-size: 14px;
	background: #333333 !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

code {
	background: #EFEFEF;
	border: 1px solid #DDDDDD;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px 5px 2px 5px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	line-height: 14px;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background: #DDDDDD;
	color: #555555;
}

::selection {
	background: #3d3d3d; /* Safari */
	color: white;
	}
::-moz-selection {
	background: #3d3d3d; /* Firefox */
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	display: inline;
	margin: 0;
	padding: 0;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14x;
	font-weight: bold;
	font-style: italic;
	border: none;
	text-align: center;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:    -moz-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:     -ms-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:      -o-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
}

hr.inpost {
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14x;
	font-weight: bold;
	font-style: italic;
	border: none;
	text-align: center;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:    -moz-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:     -ms-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:      -o-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
}


hr.description:after {
    content: "Description";
    display: inline-block;
    position: relative; 
    top: -0.7em;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}

hr.code:after {
    content: "Code";
    display: inline-block;
    position: relative; 
    top: -0.7em;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}

a {
	text-decoration: none;
	color: #333333;
	border-bottom: 1px dotted #AAAAAA;
	/*-webkit-transition: border-bottom .2s ease;
	-moz-transition: border-botom .2s ease;
	transition: border-bottom .2s;*/
}

form {
	max-width: 348px;
}

input[type=text], input[type=password] {
	width: 100%;
	max-width: 336px;
	border: 1px solid #DDDDDD;
	margin: 0;
	padding: 5px;
	margin-bottom: 10px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	color: #555555;
	font-size: 16px;
}

input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #CCCCCC;
}

input[type=radio] {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	line-height: 12px;
	height: 12px;
	width: 12px;
	margin-left: 10px;
}

.radio {
	font-style: italic;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	margin: 0px;
	padding: 0px;
}

input[type=submit] {
	margin: 0;
	padding: 5px;
	float: right;	
	cursor: pointer;
	font-weight: bold;
	color: #333333;
	background: #DDDDDD;
	border: none;
	min-width: 100px;
	height: 30px;
	-webkit-transition: -webkit-box-shadow .2s;
	-moz-transition: -moz-box-shadow .2s;
	transition: box-shadow .2s;
}

input[type=submit]:hover {
	-webkit-box-shadow: inset 0px -6px 0px 0px #CCCCCC;
	-moz-box-shadow: inset 0px -6px 0px 0px #CCCCCC;
	box-shadow: inset 0px -6px 0px 0px #CCCCCC;
}

.error {
	color: red;
	font-weight: bold;
}

a:hover {
	border-bottom: 2px solid #CCCCCC;
}

#nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	/*background: #16A979;*/
	background: #69CBDC;
	z-index: 1;
	/*-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);*/
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

#nav:hover {
	opacity: 1;
}

#nav > #navcontent {
	margin: 0 auto;
	width: 1164px;
	height: 50px;
}

textarea {
	width: 751px;
	border: 1px solid #DDDDDD;
	margin: 0;
	margin-bottom: 10px;
	padding: 5px;
	vertical-align: middle;
	color: #555555;
	font-size: 16px;
}

select {
	border: 1px solid #DDDDDD;
	margin: 0;
	margin-bottom: 10px;
	padding: 5px;
	vertical-align: middle;
	color: #555555;
	font-size: 16px;
}

#navcontent > #logo {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	color: white;
}

#navcontent > #logo > a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	border: none;
	color: #FFFFFF;
	display: inline-block;
    position: relative;
}

#navcontent > #logo > a:after {
	content: '';
    display: block;
    margin: auto;
    margin-top: -2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}

#navcontent > #logo > a:hover {
	background: none;
}

#navcontent > #logo > a:hover:after {
	width: 100%;
    background: #FFFFFF;
}

#navcontent > ul {
	float: right;
	list-style-type: none;
	height: 50px;
	margin: 0;
}

#navcontent > ul > li {
	text-align: center;
	line-height: 50px;	
	width: 100px;
	height: 50px;
	float: left;
}

#navcontent > ul > li > a {
	display: block;
	text-decoration: none;
	border: none;
	color: #FFFFFF;
	-webkit-transition: -webkit-box-shadow .3s;
	-moz-transition: -moz-box-shadow .3s;
	transition: box-shadow .3s;

}

#navcontent > ul > li > a:after {
	content: '';
    display: block;
    margin: auto;
    margin-top: -2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}

#navcontent > ul > li > a:hover {
	background: none;
}

#navcontent > ul > li > a:hover:after {
	height: 2px;
	width: 100%;
    background: #FFFFFF;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: block;
}

.clearfix:after {
	clear: both;
}

p {
	margin: 0px auto 10px auto;
}

#content {
	min-height: 300px;
	margin: 51px auto 0px auto;
	width: 1164px;
	background: #EEEEEE;
}

.lcol {
	min-height: 300px;
	width: 763px;
	border-right: 1px solid #DDDDDD;
	padding: 10px;
	float: left;
	background: #FFFFFF;
}

.lcol .comments {
	width: 763px;
	border-right: 1px solid #DDDDDD;
	padding: 10px;
	float: left;
	background: #FFFFFF;
}

.rcol {
	min-height: 300px;
	width: 360px;
	padding: 10px;
	float: right;
}

#footer {
	width: 100%;
	height: 25px;
	background: #CCCCCC;
	z-index: 1;
}

.postform {
	max-width: 100% !important;
	width: 100% !important;
}

.post {
	padding: 10px;
	margin: 0;
	margin-bottom: 10px;
	min-height: 50px;
	border-left: 10px solid #EEEEEE;
	border-bottom: 1px solid #eeeeee;
}

.post .info {
	/* full width of info without post borders: 673px */;
	width: 733px;
	height: auto !important;
	float: right;
}

.post:hover {
	border-left: 10px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.post .info .title a {
	margin: 0;
	text-decoration: none;
	border-bottom: 1px dotted #CCCCCC;
	font-size: 20px;
}

.post .info .title a:hover {
	border-bottom: 1px solid #CCCCCC;
	color: #333333;
	background: none;
}

.post .info .title a:visited {
	color: #AAAAAA;
}

.post .info .score {
	padding: 5px;
	background: #EEEEEE;
	float: right;
	text-align: center;
	width: 30px;
	line-height: 20px;
	min-height: 20px;
	font-size: 14px;
}

.post .info .tags {
	padding: 5px;
	background: #EEEEEE;
	float: right;
	text-align: center;
	width: 100px;
	min-height: 20px;
	font-size: 14px;
}

.post .info .author:before {
	line-height: 14px;
	font-size: 14px;
	content: "By";
	margin-right: 5px;
}

.post .info .author a {
	margin: 0;
	padding: 0;
	line-height: 14px;
	font-style: italic;
	font-size: 14px;
}

.post .info .date {
	margin: 0;
	padding: 0;
	font-style: italic;	
	font-size: 14px;
}




#author {
	float: right;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

#author #picture {
	float: right;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

#author #picture img {
	-webkit-box-shadow: 0px 0px 0px 0px rgba(105,203,220,1);
	-moz-box-shadow: 0px 0px 0px 0px rgba(105,203,220,1);
	box-shadow: 0px 0px 0px 0px rgba(105,203,220,1);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-transition: -webkit-box-shadow .2s ease-in-out;
	-moz-transition: -moz-box-shadow .2s ease-in-out;
	transition: box-shadow .2s ease-in-out;
}

#author #picture img:hover {
	-webkit-box-shadow: 0px 0px 0px 3px rgba(105,203,220,1);
	-moz-box-shadow: 0px 0px 0px 3px rgba(105,203,220,1);
	box-shadow: 0px 0px 0px 3px rgba(105,203,220,1);
}

#author #info {
	float: left;
	height: 40px;
	padding: 0px 5px 0px 5px;
	margin: 0px;
}

#author #info a {
	color: #69CBDC;
	border: none;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
	line-height: 50px;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	transition: color .3s ease;
}

#author #info a:hover {
	color: #3698A9;
}

.dim {
	opacity: .5;
}