@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background: #DDDDDD;
	color: #555555;
}

::selection {
	background: #3d3d3d; /* Safari */
	color: white;
	}
::-moz-selection {
	background: #3d3d3d; /* Firefox */
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	display: inline;
	margin: 0;
	padding: 0;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14x;
	font-weight: bold;
	font-style: italic;
	border: none;
	text-align: center;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:    -moz-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:     -ms-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
    background-image:      -o-linear-gradient(left, rgba(221,221,221,0.5), rgba(221,221,221,1), rgba(221,221,221,0.5)); 
}


hr.description:after {
    content: "Description";
    display: inline-block;
    position: relative; 
    top: -0.7em;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}

hr.code:after {
    content: "Code";
    display: inline-block;
    position: relative; 
    top: -0.7em;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}

a {
	text-decoration: none;
	color: #333333;
	border-bottom: 1px dotted #AAAAAA;
}

.search {
	border: 1px solid #DDDDDD;
	margin: 0;
	padding: 5px;
	width: 348px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	
	color: #555555;
	font-size: 16px;
	
}

a:hover {
	border-bottom: none;
	background: #DDDDDD;
}

#nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background: #16A979;
	z-index: 1;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: block;
}

.clearfix:after {
	clear: both;
}

p {
	margin: 0px auto 10px auto;
}

#content {
	margin: 50px auto 0px auto;
	width: 1164px;
	background: #EEEEEE;
}

.lcol {
	width: 763px;
	border-right: 1px solid #DDDDDD;
	padding: 10px;
	float: left;
	background: #FFFFFF;
}

.rcol {
	width: 360px;
	padding: 10px;
	float: right;
}

#footer {
	width: 100%;
	height: 25px;
	background: #CCCCCC;
	z-index: 1;
}